body,html{
    height: 100%;
    margin:0 auto;
}
.img/logo.png{
    height: auto;
    margin: auto;
}
.section1{
    background: url(../img/nanas.jpg);
    background-size: cover;
    height:0 auto;
    margin:0 auto;
    padding:0 auto;
    text-align: center;
}
.judul{
    font-family: cursive;
    font-size: 70px;
    font: bold;
    color: black;
}
.sub-judul{
    font-family: cursive;
    font-stretch: semi-expanded;
    font-size: 40px;
    color: black;
}
.section2{
    padding:100px 0px;
    background: #ffffff;
}
.judul1{
    font-family: cursive;
    font-size: 50px;
    color: #800000;
}
.sub-judul1{
    font-family: cursive;
    font-size: 20px;
    color: #800000;
}
.cool-kiri{
    background: #FFA07A;
}
.cool-kanan{
    background: #800000;
    font-family: cursive;
    color: #FFA074;
}
.section3{ 
    min-height: 300px;
    padding: 50px 0px;
    background: #800000;
}
.link {
    padding: 10px 15px;
    color: black;
}
.link:hover{
    background: lime;
}